---
import Base from '../../layouts/Base.astro';
import BlogGrid from '../../components/BlogGrid.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';
---

<!doctype html>
<Base title={SITE_TITLE} description={SITE_DESCRIPTION} leadTitle="Blog" lead="...where I write about my various mundane and probably boring adventures using a computer.">
	<section class="container mx-auto">
		<BlogGrid />
	</section>
</Base>
