---
import Base from '../../layouts/Base.astro';
import ProjectGrid from '../../components/ProjectGrid.astro';
---

<Base leadTitle="My Work"  lead="All the stuff I've made, worked on, or contributed to.">
    <section name="work" class="container mx-auto">
        <ProjectGrid />
    </section>
</Base>