---
import HeaderLink from './HeaderLink.astro';
import PrimaryLogo from './PrimaryLogo.astro';
import SocialLinks from './SocialLinks.astro';
import { SITE_TITLE, SITE_LOGO } from '../consts';
---

<header class="bg-gray-950">
	<nav class="flex container items-center justify-between mx-auto p-12">
		<div class="internal-links">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/blog">Blog</HeaderLink>
			<HeaderLink href="/about">About</HeaderLink>
		</div>
		<PrimaryLogo title={SITE_TITLE} logo={SITE_LOGO} />
		<SocialLinks />
	</nav>
</header>
