---
import HeaderLink from './HeaderLink.astro';
import SocialLinks from './SocialLinks.astro';
import { SITE_TITLE } from '../consts';
---

<header class="bg-gray-950">
	<nav class="flex container items-center justify-between mx-auto p-12">
		<div class="internal-links">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/blog">Blog</HeaderLink>
			<HeaderLink href="/about">About</HeaderLink>
		</div>
		<h2><a href="/">{SITE_TITLE}</a></h2>
		<SocialLinks />
	</nav>
</header>
