---
const { title, logo } = Astro.props;
---

<div>
    <a href="/">
        { !logo && <h1>{title}</h1> }
        { logo && 
                <img alt={title} src={logo} class="object-contain h-14"/> 
        }    
    </a>
</div>