---
import { Icon } from 'astro-icon/components';

const { name, link, icon } = Astro.props
---

<a target="_blank" href={link} class="transition duration-200 text-white hover:text-blue-400 text-lg">
    <span class="sr-only">{name}</span>
    <Icon name={icon} />
</a>

